.text-box {
    border: none;
    height: auto;
    outline: none;
    padding: .5em;
    padding-left: 2em;
    font-size: $button-font-medium;
    border-bottom: 2px solid lighten($color: $blue, $amount: 25);
    transition: all ease 300ms;
    resize: none;
    margin-top: 1em;
    border-radius: 0;

    &:focus {
        border: none;
        border-bottom: 2px solid $blue;
    }
}