// colors

$red: #ff3463;
$yellow: #ffae18;
$green: #82c926;
$blue: #3898EC;
$white: #f3f3f3f3;
$black: #0e0d0ddf;
$shadow: #11111163;


// Buttons font sizes

$button-font-small: .7em;
$button-font-medium: .8em;
$button-font-large: .9em;


// Text font sizes

$text-font-smaller: 1em;
$text-font-small: 1.5em;
$text-font-medium: 2em;
$text-font-large: 2.5em;